
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;

}

.postSection {
    background-color: #d8bfd8;
    display: flex;
    flex-direction: column;
    padding:125px;
    padding-top: 0;
    border-radius: 5px;
}

.postTitle {
    background-color: wheat;
    width: 100%;
}

.postContent {
    padding: 15px;
    margin: 15px;
    background-color: tomato;

}

.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
}

button {
    border-radius: 5px;
    padding: 5px 10px;
}

.newPostForm {
    border-radius: 5px;
    background-color: palegoldenrod;
    padding: 25px 125px;

}